{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="max-w-sm mx-auto my-12 p-6">
  <h1 class="text-center text-2xl my-6">Forgotten your password?</h1>
  <p>Enter your e-mail address to obtain a new password.</p>
  <form method="post">
    {{ form.as_p }}
    <p class="flex justify-center my-12">
      <input type="submit" value="Send e-mail" class="py-2 px-8 border hover:rounded-lg ">
    </p>
    {% csrf_token %}
  </form>
  {% if form.errors %}
  <p class="text-red-500 text-xs">
    {{ form.errors }}
  </p>
{% endif %}
</div>
 
{% endblock %}