{% extends "base.html" %}
{% block content %} 
 <div class="max-w-sm mx-auto my-6 ">
        <h4 class="text-lg my-6 text-center ">Change your password</h4>
		<form method="POST">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-field my-4">
                {{ field.label_tag }}
                {{ field }}
                <div class="help-text text-xs my-6">{{ field.help_text }}</div>
                <span class="text-red-700 appear">{{ field.errors }}</span>
              </div>
            {% endfor %}
                <div class="flex justify-center my-6">
                    <input type="submit" value="Submit" class="outline outline-slate-400  px-6 py-2 rounded-xl hover:rounded-none hover:shadow-white hover:shadow-2xl">
                </div>	
		</form>
  </div>
{% endblock %}