{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="bg-white border-b py-8 text-gray-800">
    <div class="container max-w-5xl mx-auto mt-24">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center ">PCA membership</h1>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>

        <div class="flex flex-wrap">
            <div class=" p-4">
                <h3 class="text-2xl  my-12">Who can join the PCA?</h3>
                <p>The Professional Conductors Association provides registration for conductors in the UK. We are a member-led professional body for trainee and qualified conductors with a recognised degree-level qualification in Conductive Education.
                </p>

                <h4 class="text-xl  mb-3 my-12">Why join?</h4>
                <ul>
                    <li class="my-6">By joining the PCA you will be part of the ONLY professional body representing Conductors in the UK and can be directly involved in influencing the growth and development of the conductor profession.</li>
                    <li>We provide access to continual professional development specifically tailored to conductors including a free place at the annual PCA workshops.</li>
                    <li>We offer discounted rates for attendance at the CE annual conference.</li>
                    <li>PCA registration demonstrates your commitment to both CE and your own continuing professional development when approaching potential employers.</li>
                </ul>
                <h4 class="text-xl  my-12">How to join?</h4>
                <p>PCA Membership is £35 initially, with an annual renewal costs of £30 for continuing membership. Registration includes requirements for continual professional development for all members.
                </p>
                <p>Student membership of PCA is free for trainee conductors during their studies, and entitles them to attend the CE annual conference free of charge.

                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
