{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="bg-white border-b py-8 ">
    <div class=" max-w-5xl mx-auto mt-24">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">What does the PCA do?</h1>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>

        <div class="flex flex-wrap">
            <div class=" p-4">
                <h3 class="text-xl text-gray-800 mb-3">Listens to, and works for, conductors, conductor assistants and everyone working in CE and supports them in their working lives.</h3>
                <p class="text-gray-600 mb-8">Promotes the professional status of conductors with requirements for continual professional development for all PCA members and by encouraging professional development through wider CPD opportunities.</p>
                <p class="text-gray-600 mb-8">Nurtures the development of a dynamic network of conductors and those working in CE across the UK through which information, expertise and discussion can be shared.</p>
                <p class="text-gray-600 mb-8">Provides the Code of Practice for Conductors and Professional Standards for Conductors in the UK.</p>
                <p class="text-gray-600 mb-8">Provides advisory publications such as Guidelines for Moving and Handling in Conductive Education, Use of Equipment in Conductive Education, Working with other professionals and produces guidance material, and written articles, regarding CE and related current issues.</p>
                <p class="text-gray-600 mb-8">Supports the running of an Annual CE Conference for everyone interested in CE.</p>
                <p class="text-gray-600 mb-8">Supports annual Conductive Education Awareness Week through shared media posts</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}